@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Italiana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Italiana&display=swap');

*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

:root{
    --pink: #A38D99;
    --light-pink: #d3b7c6;
    --blue: #23272E;
    --font1: Italiana;
    --font2: Inria;
    --font3: Inter;
}
.main-container{
    width: 100%;
    height: 70vh;
    background: linear-gradient(to top, rgb(84, 90, 107, 0.7), rgb(41, 45, 54, 0.7)),  url(assets/imgs/pexels-satoshi-4058530.jpg);
    background-size: cover;
    background-position: center;
}

html{scroll-behavior: smooth;}
a{text-decoration: none;}
p{color: #ccc;}
img{object-fit: cover;}

nav{
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
}
nav .logo h2, .logo span{
    padding: 8px;
    font-size: 30px;
    font-family: var(--font2);
    font-weight: 100;
}
.logo h2{color: #FFFFFF;}
.logo span{color: var(--pink);}

 nav .nav-links{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 20px;
    gap: 55px;
}

nav .nav-links a{
    color: #FFFFFF;
    transition: all 0.3s ease;
    font-family: var(--font3);
}

nav .nav-links a:hover{
    color: var(--pink);
}

nav .login{
    display: flex;
    gap: 25px;
    align-items: center;
}
nav .login button{
    padding: 15px 40px;
    border: none;
    outline: none;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 13px;
    cursor: pointer;
    transition: 0.3s ease;
    font-size: 15px;
    font-family: var(--font3);
}

nav .login button:hover{
    background-color: var(--pink);
    transition: 0.3s ease;
}

nav .login i{
    font-size: 40px;
    color: var(--pink);
}

.hero{
    padding: 100px;

}

.hero h1{
    font-family: var(--font1);
    color: #FFFFFF;
    font-size: 50px;
}

span{
    color: var(--light-pink);
}

.hero .sentence{
    font-family: var(--font3);
    color: var(--light-pink);
    padding-top: 8px;
    font-size: 25px;
}

.search-bar{padding-top: 20px;}
.search-bar input, .search-bar button{
    padding: 15px;
    border: none;
    outline: none;
    background-color: var(--light-pink);
    border-radius: 13px;
    font-size: 15px;
    font-family: var(--font3);
    
}
.search-bar button{
    background-color: var(--blue);
    color: #A38D99;
}

.gradient{
    background: linear-gradient(to top, rgb(84, 90, 107), rgb(41, 45, 54));
    margin-top: 50px;
    height: 150px;
    z-index: 1;
    position: relative;
    border-radius: 13px;
}

.columns{
    display: flex;
    padding: 40px;

}
.columns h2{
    color: #FFFFFF;
    font-family: var(--font1);
}

.columns p{
    font-family: var(--font3);
    padding-right: 30px;
    font-size: 15px;
}

